.gallery {
  max-width: 1184px;
  margin: auto;
  margin-top: 94px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.gallery__item {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 720px;
    margin-top: 40px;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .gallery__item {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    max-width: 288px;
    margin-top: 14px;
  }

  .gallery__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }

  .gallery__item {
    max-width: 288px;
    max-height: 216px;
  }
}
